/**
 * All global variables used in styling. All styles and colors specified in this file should
 * be valid for all themes.
 */


/************* Media query breakpoints. ***************/
$screen-xs-min:              		480px !default; // Extra small screen / phone
$screen-sm-min:              		768px !default; // Small screen / tablet
$screen-md-min:              		992px !default; // Medium screen / desktop
$screen-lg-min:             	 	1200px !default; // Large screen / wide desktop
$screen-xs-max:              		($screen-sm-min - 1) !default;
$screen-sm-max:              		($screen-md-min - 1) !default;
$screen-md-max:              		($screen-lg-min - 1) !default;

/************* Typography ***************/
$font-family-default:               "Open Sans",Arial,sans-serif !default;

$font-size-normal:        		 	14px !default;
$font-size-large:         		 	16px !default;
$font-size-huge:         		 	18px !default;
$font-size-extra-huge:         		20px !default;
$font-size-small:         		 	12px !default;
$font-size-extra-small:         	10px !default;

$font-icon-size-normal:        		14px !default;
$font-icon-size-large:         		16px !default;
$font-icon-size-huge:            	18px !default;
$font-icon-size-extra-huge:         20px !default;
$font-icon-size-small:         		12px !default;
$font-icon-size-extra-small:        10px !default;

$font-size-h1:            		 	36px !default;
$font-size-h2:            			30px !default;
$font-size-h3:            			24px !default;
$font-size-h4:            			18px !default;
$font-size-h5:            			14px !default;
$font-size-h6:            			12px !default;

$font-weight-normal:                normal !default; // normal = 400
$font-weight-bold:                  bold !default; // bold = 700

$font-color-default:                #333 !default;
$link-color-default:                #666 !default;

/************* Form controls ***************/
$input-bg:                       	#fff !default;
$input-bg-disabled:              	#eeeeee !default;

$input-color:                    	#333 !default;
$input-border:                   	#e5e5e5 !default;
$input-border-focus:             	#999 !default;
$input-font-size:                   $font-size-normal;
$input-placeholder-color:        	lighten($input-color, 50%) !default;
$input-placeholder-font-size:       $font-size-normal;

$control-label-font-size:           $font-size-normal;
$control-label-color:               #666 !default;
$floating-label-font-size:          $font-size-normal;
$floating-label-color:              #666 !default;

$radio-label-color:                 #666 !default;
$radio-label-color-hover:           #333 !default;
$checkbox-label-color:              #666 !default;
$checkbox-label-color-hover:        #333 !default;
$select-border:                  	#e5e5e5 !default;
$select-bg:                  	    #fafafa !default;

/************* Border radius ***************/
$border-radius-general:             2px !default;
$border-radius-button:              2px !default;
//$border-radius-input:               2px !default;

/************* Button styles ***************/
$btn-default-color:              	#666666 !default;
$btn-default-bg:                 	#e6e6e6 !default;
$btn-default-border:             	#ccc !default;

$btn-font-size-sm:                  12px;
$btn-font-size:                     12px;
$btn-font-size-lg:                  14px;
$btn-font-weight:                   600;
