<section id="products" class="p-xlg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h2 class="mt-lg mb-sm">Enjoy <strong>Our Best Sellers</strong></h2>
        <p class="font-size-md">
          Check out our best selling products developed by a talented team of researchers, nutritionists<br>
          and doctors. Whether you hope to boost your metabolism, protect your vital organs or<br>
          renew your love life, Biomine is here to help!
        </p>

        <hr class="custom-divider">
      </div>
    </div>
    <div class="row mt-lg">
      {% set product1 = {
        'image': '/img/go_free.jpg',
        'name' : 'Go Free',
        'desc' : 'Go Free is a natural supplement for increasing joint flexibility, supporting joint mobility and aiding age-related joint problems. Containing 1500mg of Glucosamine which helps...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10483'}
      %}
      {% set product2 = {
        'image': '/img/omega3.jpg',
        'name' : 'Omega-3 Fish Oil Blend',
        'desc' : 'Using 100% pure sea-harvested pelagic fish oil, our Omega-3 fish oil is high in EPA and DHA. These nutrients are important for maintaining a healthy brain and nervous system...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10486'}
      %}
      {% set product3 = {
        'image': '/img/curve.jpg',
        'name' : 'Curve Beauty',
        'desc' : 'Our powerful and effective natural breast enhencement cream which can deliver fast and long-lasting results all from the comfort and privacy of your home...',
        'href' : 'demo-restaurant-menu.html'}
      %}
      {% set product4 = {
        'image': '/img/liver.jpg',
        'name' : 'Liver Support',
        'desc' : 'This liver support detox supplement works synergistically to assist liver detoxifcation, support liver function and improve digestive health for maintaining a healthy liver...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10482'}
      %}
      {% set product5 = {
        'image': '/img/men.jpg',
        'name' : 'Ultra Vita for Men',
        'desc' : 'This supplement contains essential vitamins, minerals and antioxidants to fight against high blood pressure, prostate problems, macular degeneration, asthma and...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10484'}
      %}
      {% set product6 = {
        'image': '/img/women.jpg',
        'name' : 'Ultra Vita for Women',
        'desc' : 'This supplement provides the perfect amount of vitamins, minerals, antioxidants and herbs for the unique needs of women, making it the perfect women\'s multi vitamin...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10485'}
      %}
      {% set product7 = {
        'image': '/img/coq10.jpg',
        'name' : 'CoQ10',
        'desc' : 'CoQ10 is a powerful antioxidant and vitamin-like compound that supports the protection of cell membranes, particularly after enduring surgery or taking anti-cancer medication...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10481'}
      %}
      {% set product8 = {
        'image': '/img/probiotic.jpg',
        'name' : 'Probiotic-40',
        'desc' : 'Our Probiotic-40 supplement is designed to provide a high potency and balance of benefcial bacteria. Probiotic-40 can help your body maintain a healthy intestinal flora....',
        'href' : 'https://en.ipursu.us/item_details.php?id=10487'}
      %}
      {% set product9 = {
        'image': '/img/sleep.jpg',
        'name' : 'Sleep Formula',
        'desc' : 'Sleep formula is a natural blend that helps your body obtain healthy amount of sleep. It contains relaxing vitamins, minerals and herbs to help you decrease chronic pain and reduce anxiety...',
        'href' : 'https://en.ipursu.us/item_details.php?id=10488'}
      %}
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product1} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product2} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product3} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product4} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product5} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1500">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product6} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1800">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product7} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="2100">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product8} %}
        </div>
      </div>
      <div class="col-sm-4 pb-xlg">
        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="2400">
          {% include '/pages/fragments/index/_item_product.twig' with {'product': product9} %}
        </div>
      </div>
    </div>
  </div>
</section>
