<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="{{ constant('HTML_LANG') }}">
<!--<![endif]-->

<!-- BEGIN Head -->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="{% block page_desc %}{% endblock %}">
  <meta name="keywords" content="">
  <meta name="author" content="{{ constant('EMAIL') }}">

  <title>{{ constant('COMPANY_NAME_SHORT')|trans }} - {% block page_title %}{% endblock %}</title>

  <!-- BEGIN Fav icon -->
  <link rel="shortcut icon" href="/img/images/favicon.png"/>
  <!-- END Fav icon -->

  <!-- BEGIN Global fonts -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet"/>
  <!-- END Global fonts -->

  <!-- BEGIN Page level fonts -->
  {% block page_fonts %}
  {% endblock %}
  <!-- END Page level fonts -->

  <!-- BEGIN Global mandatory styles -->
  <link href="/assets/css/layouts/reset.css" rel="stylesheet"/>
  {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>#}
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  {#<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">#}
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- END Global mandatory styles -->

  <!-- BEGIN Global plugin styles -->
  {#<link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>#}
  <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  {#<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" rel="stylesheet"/>#}
  <link href="//cdn.bootcss.com/toastr.js/2.1.2/toastr.min.css" rel="stylesheet"/>
  <!-- END Global plugin styles -->

  <!-- BEGIN Page level plugin styles -->
  {% block page_plugin_styles %}
  {% endblock %}
  <!-- END Page level plugin styles -->

  <!-- BEGIN Theme styles -->
  {% block theme_styles %}
    <link href="/libraries/porto/HTML/css/theme.css" rel="stylesheet"/>
    <link href="/libraries/porto/HTML/css/theme-elements.css" rel="stylesheet"/>
    <link href="/libraries/porto/HTML/css/custom.css" rel="stylesheet">

    <link href="/assets/css/layouts/layout1.css" rel="stylesheet"/>
    <link href="/assets/css/themes/default.css" rel="stylesheet"/>
    <link href="/assets/css/plugins/plugins.css" rel="stylesheet"/>
    <link href="/assets/css/components/components.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
  {% endblock %}
  <!-- END Theme styles -->

  <!-- BEGIN Page level styles -->
  {% block page_styles %}
  {% endblock %}
  <!-- END Page level styles -->

  <!-- BEGIN Responsive styles. Responsive styles should be placed after page styles so as to override it. -->
  <link href="/assets/css/responsive/responsive.css" rel="stylesheet"/>
  <!-- END Responsive styles -->
</head>
<!-- END Head -->

<!-- BEGIN Body -->
<body data-spy="scroll" data-target="#navSecondary" data-offset="170" class="{% block page_body_class %}{% endblock %}">
  <div class="body">
    <!-- BEGIN Header -->
    {% block page_header %}
      {% include '/components/_header.twig' %}
    {% endblock %}
    <!-- END Header -->

    <!-- BEGIN Content -->
    {% block page_content %}
    {% endblock %}
    <!-- END Content -->

    <!-- BEGIN Footer -->
    {% block page_footer %}
      {% include '/components/_footer.twig' %}
    {% endblock %}
    <!-- END Footer -->
  </div>

<!-- Detects if the CDN-hosted bootstrap.min.css fails to load -->
<div id="bootstrap_css_cdn_check" class="hide" style="height:1px;"></div>

<!-- Load javascripts at bottom, this will reduce page load time. -->
<!-- BEGIN Core plugins (Required for all pages) -->
<!-- Includes jQuery library from CDN but if something goes wrong get jQuery from local file (Remove 'http:' if you have SSL) -->
{#<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/libraries/porto/HTML/vendor/jquery/jquery.min.js"><\/script>');</script>
<!-- Includes Bootstrap library from CDN but if something goes wrong get Bootstrap from local file (Remove 'http:' if you have SSL) -->
{#<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>$.fn.modal || document.write('<script src="/libraries/porto/HTML/vendor/bootstrap/js/bootstrap.min.js"><\/script>');</script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>#}
<script src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.min.js"></script>#}
<script src="//cdn.bootcss.com/jquery-validate/1.14.0/additional-methods.min.js"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>#}
<script src="//cdn.bootcss.com/toastr.js/2.1.2/toastr.min.js"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.1/URI.min.js"></script>#}
<script src="//cdn.bootcss.com/URI.js/1.17.0/URI.min.js"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>#}
<script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- BOOTSTRAP CDN FALLBACK CSS -->
<script>
  $(document).ready(function() {
    if ($('#bootstrap_css_cdn_check').is(':visible')) {
      $('head').prepend('<link href="/libraries/porto/HTML/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>');
    }
  });
</script>
<!-- END Core plugins (Required for all pages) -->

<!-- BEGIN Global scripts -->
{% block global_scripts %}
  <!-- Theme Base, Components and Settings -->
  <script src="/libraries/porto/HTML/js/theme.js"></script>
  <!-- Theme Custom, this should be before theme.init.js -->
  <script src="/libraries/porto/HTML/js/custom.js"></script>
  <script src="/assets/js/global/porto-theme-custom.min.js"></script>
  <!-- Theme Initialization Files -->
  <script src="/libraries/porto/HTML/js/theme.init.js"></script>

  <script src="/assets/js/global/biomine.min.js"></script>
  <script src="/assets/js/global/header.min.js"></script>
  <script src="/assets/js/global/footer.min.js"></script>
  <script src="/assets/js/global/helper.min.js"></script>
  <script src="/assets/js/global/plugins/bootlint.min.js"></script> <!-- For development purposes only -->
  {#<script src="//cdnjs.cloudflare.com/ajax/libs/helium-css/1.1/helium.min.js"></script> <!-- For development purposes only -->#}
  <script>
    $(document).ready(function() {
      Biomine.init();
      Header.init();
      Footer.init();
//      bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});
//      helium.init();
    });
  </script>
{% endblock %}
<!-- END Global scripts -->

<!-- BEGIN Page level plugin scripts -->
{% block page_plugins %}
{% endblock %}
<!-- END Page level plugin scripts -->

<!-- BEGIN Page level scripts -->
{% block page_scripts %}
{% endblock %}
<!-- END Page level scripts -->

<!-- BEGIN Google Analytics -->
<script>
</script>
<!-- END Google Analytics -->

</body>
<!-- END Body -->
</html>
