{% extends "/global_page_template" ~ (IS_DEVEL_SERVER ? "_dev") ~ ".twig" %}

{% block page_title %}403 - Permission Denied{% endblock %}

{% block page_styles %}
  {{ parent() }}
  <link href="/css/pages/error/error.css" rel="stylesheet"/>
{% endblock %}

{% block page_body_class %}page-error{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_content %}
  {{ parent() }}
  <div id="page_error" class="">
    <div class="row">
      <div class="col-md-12 page-403">
        <div class="number">
          403
        </div>
        <div class="details">
          <h3>Oops! Have you <a href="{{ constant('URL_LOGIN_PAGE') }}" class="highlighted">logged in</a>?</h3>
          <p>
            Looks like you don't have permissions<br/>
            to access this page.<br/><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_footer %}
{% endblock %}
