{% extends "/global_page_template" ~ (IS_DEVEL_SERVER ? "_dev") ~ ".twig" %}

{% block page_title %}404 - Page Not Found{% endblock %}

{% block page_styles %}
  {{ parent() }}
  <link href="/css/pages/error/error.css" rel="stylesheet"/>
{% endblock %}

{% block page_body_class %}page-error{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_content %}
  {{ parent() }}
  <div id="page_error" class="">
    <div class="row">
      <div class="col-md-12 page-404">
        <div class="number">
          404
        </div>
        <div class="details">
          <h3>Oops! You're lost.</h3>
          <p>
            We can not find the page you're looking for.<br/>
            <a href="{{ constant('URL_INDEX_PAGE') }}" class="highlighted"> Return home </a> or try the search bar below.
          </p>
          {% include '/components/_search_bar.twig' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_footer %}
{% endblock %}
