{% extends "/global_page_template" ~ (IS_DEVEL_SERVER ? "_dev") ~ ".twig" %}

{% block page_title %}500 - Internal Server Error{% endblock %}

{% block page_styles %}
  {{ parent() }}
  <link href="/css/pages/error/error.css" rel="stylesheet"/>
{% endblock %}

{% block page_body_class %}page-error{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_content %}
  {{ parent() }}
  <div id="page_error" class="">
    <div class="row">
      <div class="col-md-12 page-500">
        <div class="number">
          500
        </div>
        <div class="details">
          <h3>Oops! Something went wrong.</h3>
          <p>
            We are fixing it!<br/>
            Please come back in a while.<br/><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_footer %}
{% endblock %}
