/**
 * Theme coloring. Only colors that are different from theme to theme should be set here.
 */
@import '../mixins/_mixins';

/************* Theme colors for basic elements. ***************/
* {
  //@include selection($theme-base-color, #fff);
}

/************* Theme colors for common classes. ***************/
.btn-primary {
  color: $btn-primary-color !important;
  background: $btn-primary-bg !important;
  border-color: $btn-primary-border !important;

  &:hover {
    background: lighten($btn-primary-bg, 2%) !important;
    border-color: lighten($btn-primary-border, 2%) !important;
  }
}

.highlighted {
  color: $theme-base-color;
}

a.highlighted {
  color: $link-color-hover;
}

.highlight-on-hover:hover {
  color: #fff;
  background: $theme-base-color;
}

.header {
}

/************* Theme colors for specific pages. ***************/
#page_index {
}
